---
services:
  prometheus:
    hostname: prometheus
    container_name: prometheus
    image: prom/prometheus:latest
    ports:
      - 9090:9090
    command: --config.file=/etc/prometheus/prometheus.yml --log.level=debug
    volumes:
      - ./docker/prometheus/:/etc/prometheus/
      - data-prometheus:/prometheus

# Please customize ./docker/alertmanager/config.yml before enabling this container
#  alertmanager:
#    image: prom/alertmanager
#    ports:
#      - 9093:9093
#    volumes:
#      - ./docker/alertmanager/:/etc/alertmanager/
#    restart: always
#    command:
#      - '--config.file=/etc/alertmanager/config.yml'
#      - '--storage.path=/alertmanager'

  grafana:
    image: grafana/grafana
    hostname: grafana
    container_name: grafana
    depends_on:
      - prometheus
    logging:
      driver: local
    volumes:
      - data-grafana:/var/lib/grafana
      - ./docker/grafana/provisioning/:/etc/grafana/provisioning/
    environment:
      GF_SECURITY_ADMIN_USER: grafana
      GF_SECURITY_ADMIN_PASSWORD: grafana
      GF_USERS_ALLOW_SIGN_UP: false
      GF_INSTALL_PLUGINS: grafana-piechart-panel
    ports:
      - 3000:3000

  kafka-exporter:
    profiles:
      - kafka-exporter
    image: danielqsj/kafka-exporter 
    container_name: kafka-exporter
    command: 
      - "--kafka.server=${KAFKA_BOOTSTRAP_SERVERS}"
      - "--sasl.enabled"
      - "--sasl.username=${KAFKA_API_KEY}"
      - "--sasl.password=${KAFKA_API_SECRET}"
      - "--sasl.mechanism=PLAIN"
      - "--tls.enabled"
    ports:
      - 9308:9308 

volumes:
  data-zookeeper-log:
  data-zookeeper-data:
  data-kafka:
  data-prometheus:
  data-grafana:
